<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DBs.My.MySettings.ScandiHome_20221020_001ConnectionString"
            connectionString="Data Source=.;Initial Catalog=ScandiHome_20221020_001;User ID=sa;Password=12345678x@X"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>